# Python / entorno
venv/
.venv/
__pycache__/
*.pyc

# VS Code / entorno
.vscode/
*.code-workspace

# Terraform
.terraform/
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.*
crash.log
# Se recomienda SÍ commitear el lock si deseas reproducibilidad:
# .terraform.lock.hcl

# Variables sensibles
*.tfvars
*.tfvars.json
.env

# Certificados / llaves
certificados/
*.pem
*.key
*.cer
*.crt

# Logs / artefactos
*.log
*.tmp
monitor-sat-deploy/terraform.tfvars
monitor-sat-deploy/cert_base64.txt
monitor-sat-deploy/key_base64.txt
